
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', path='/signup.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Sample Form</title>
</head>
<body>
    <div class="container">
        <form method="post">

            <label>userName</label>
            <input type="text" name="userName"/> 
            </br>
            <label>degree</label>
            <input type="text" name="degree"/> 
            </br>
            <label>phoneNum</label>
            <input type="number" name="phoneNum"/> 
        </br>
            <input type="submit">
        </form>
    </div>

</body>
</html>
